.scene-list {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  max-height: calc(100vh - 215px);
  min-height: 15vh;
  overflow: scroll;
}

.caption-list {
  margin: 0 0 10px;
  padding: 0;
  max-height: calc(100vh - 380px);
  min-height: 15vh;
  overflow: scroll;
}

.scene-list-item, .caption-list-item {
  background: #ccc; /* light grey */
  border: 1px solid #ddd;
  color: #333;
  display: block;
  margin: 0 0 1px;
  padding: 8px 15px;
  text-decoration: none;
  word-break: break-word;
}

.scene-list-item:hover, .caption-list-item:hover {
  background: #aaa; /* slightly darker grey to emphasize selection */
}

.scene-list-item a, .caption-list-item a {
  color: #0000EE; /* blue color for links */
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

.delete-scene-button {
  margin-left: 2em;
}

.save-name-form {
  margin-bottom: 1em;
}

.language-input {
  display: block;
  margin-bottom: 2em;
}

form.save-changes-form {
  margin-bottom: 0.5rem;
}

form.save-changes-form > label, .start > label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: .1rem;
}

form.save-changes-form > input {
  margin-bottom: 1rem;
}

.save-changes-button {
}


.download-link {
  margin-left: 1em;
}

.caption-preview {
  margin-left: 1em;
}

.delete-caption-button {
  margin-left: 1em;
}

.new-start-input {
  display: block;
}

.show-stylized-preview {
  margin-left: 1em;
}


.scene-preview {
  margin-left: 1em;
}

i {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  margin-right: 1em;
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-enabled {
  border-color: black;
}

.arrow-disabled {
  border-color: grey;
}

.arrow-enabled:hover {
  border-color: chartreuse;
}
