.scene-list {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

.scene-list-item, .caption-list-item {
  background: #fafafa; /* light grey */
  border: 1px solid #ddd;
  color: #333;
  display: block;
  margin: 0 0 1px;
  padding: 8px 15px;
  text-decoration: none;
}

.scene-list-item:hover, .caption-list-item:hover {
  background: #cccccc; /* slightly darker grey to emphasize selection */
}

.scene-list-item a, .caption-list-item a {
  color: #0000EE; /* blue color for links */
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

.delete-scene-button, .delete-caption-button {
  margin-left: 2em;
}

.save-name-form {
  margin-bottom: 1em;
}

.language-input {
  display: block;
  margin-bottom: 2em;
}

form.save-changes-form {
  margin-bottom: 0.5rem;
}

form.save-changes-form > label, .start > label {
  display: block;
  font-size: 15px;
  margin-bottom: .1rem;
}

form.save-changes-form > input {
  margin-bottom: 1rem;
}

.save-changes-button {
  display: block;
}


